ion-toolbar{
    --background: #4c4ce7;
    ion-title{
        color:#FFFFFF;
    }
    ion-back-button{
        color:#FFFFFF;
    }
}


ion-content{
    
    form{
        padding: 15px;
        ion-item{
            ion-label{
                font-size: 20px;
                font-weight: bold;
            }

            ion-datetime{
                display: flex;
                margin-top: 20px;
                padding-top: 30px;
            }
        }
        div{
            display: flex;
            justify-content: right;
        }
        span{
            display: flex;
            justify-content: center;
            margin-top: 20px;
            ion-button{
                width: 45%;
            }
        }
    }

}